* {
    box-sizing: border-box;
}

:root {
    --fs-title: 30px;
    --fs-title--sub: 20px;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.fullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hidden {
    visibility: hidden;
}

.player1 {
    background-color: green;
}

.player2 {
    background-color: orange;
}

.menu {
    padding-top: 200px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.menu__content {
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
}

.menu__title {
    font-size: var(--fs-title);
    margin: 20px 0;
}

.menu__title--sub {
    font-size: var(--fs-title--sub);
    margin: 10px 0;
}

.menu__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu__grid-cell {
    display: block;
}

.entity {
    position: absolute;
    transform: translate(-50%, -50%)
}

.entity.player {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.entity.projectile { 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: blue;
}

.entity.enemy {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: red;
}

.interface {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.75;
}

.interface .killed {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
}

.interface .hp {
    position: absolute;
    left: 50px;
    bottom: 50px;
    padding: 10px;
    border: 1px solid #000;
}